html{
    font-family: Arial, sans-serif;
}
#countdown { 
    font-size: 24px;
    text-align: center;
    margin-top: 50px;
}

#countdown h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

#countdown span {
    display: inline-block;
    width: 80px;
    height: 80px;
    background-color: #333;
    color: #fff;
    font-size: 36px;
    line-height: 80px;
    margin: 0 10px;
    border-radius: 5px;
}
ul{
    text-decoration: none;
}
li{
    display: inline-flex;
    margin-left: 20px;
}
li a{
    text-decoration: none;
    color: #333;
}