html{
    font-family: Arial, sans-serif;
    height: 100%;
}
#countdown { 
    font-size: 24px;
    text-align: center;
    margin-top: 50px;
}

#countdown h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

#countdown span {
    display: inline-block;
    width: 80px;
    height: 80px;
    background-color: #333;
    color: #fff;
    font-size: 36px;
    line-height: 80px;
    margin: 0 10px;
    border-radius: 5px;
}
#dropdownMenu {
    display: none;
}
#menuButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
li{
    list-style: none;
    padding: 10px;
}
li a{
    text-decoration: none;
    color: #333;
    margin-left: 20px;
}
.navbarPortfolio{
    float: right;
    margin-right: 20px;
    color: #333;
    border: #333 1px solid;
    padding: 10px;
}
a{
    text-decoration: none;
}
footer p{
    margin-left: 50px;
    color: white;
}
footer a{
    text-decoration: none;
    color: aqua;
}
footer a:hover{
    text-decoration: underline;
}
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
p{
    text-align: center;
}