html {
    font-family: Arial, sans-serif;
    height: 100%;
}

/* SAVE */
/* #countdown { 
    font-size: 24px;
    text-align: center;
    margin-top: 50px;
}

#countdown h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

#countdown span {
    display: inline-block;
    width: 80px;
    height: 80px;
    background-color: #333;
    color: #fff;
    font-size: 36px;
    line-height: 80px;
    margin: 0 10px;
    border-radius: 5px;
} */
#countdown {
    font-size: 2vw;
    /* Utilisation des unités de vue pour la taille de police */
    text-align: center;
    margin-top: 2vw;
    /* Utilisation des unités de vue pour la marge supérieure */
}

h1 {
    font-size: 2.5vw;
    /* Utilisation des unités de vue pour la taille de police */
    margin-bottom: 0.5vw;
    /* Utilisation des unités de vue pour la marge inférieure */
    margin-top: 2vw;
    text-align: center;
}

#countdown span {
    display: inline-block;
    width: 8vw;
    /* Utilisation des unités de vue pour la largeur */
    height: 8vw;
    /* Utilisation des unités de vue pour la hauteur */
    background-color: #333;
    color: #fff;
    font-size: 3.5vw;
    /* Utilisation des unités de vue pour la taille de police */
    line-height: 8vw;
    /* Utilisation des unités de vue pour la hauteur de ligne */
    margin: 0 1vw;
    /* Utilisation des unités de vue pour les marges horizontales */
    border-radius: 5px;
}

@media (max-width: 768px) {
    #countdown span {
        display: inline-block;
        width: 13vw;
        /* Utilisation des unités de vue pour la largeur */
        height: 13vw;
        /* Utilisation des unités de vue pour la hauteur */
        background-color: #333;
        color: #fff;
        font-size: 6.5vw;
        /* Utilisation des unités de vue pour la taille de police */
        line-height: 13vw;
        /* Utilisation des unités de vue pour la hauteur de ligne */
        margin: 0 1vw;
        /* Utilisation des unités de vue pour les marges horizontales */
        border-radius: 5px;
    }

    h1 {
        font-size: 5vw;
        /* Utilisation des unités de vue pour la taille de police */
        margin-bottom: 5vw;
        /* Utilisation des unités de vue pour la marge inférieure */
        margin-top: 10vw;
        text-align: center;
    }
}
#dropdownMenu {
    display: none;
}

#menuButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: 20px;
}

li {
    list-style: none;
    padding: 10px;
}

li a {
    text-decoration: none;
    color: #333;
    margin-left: 20px;
}

.navbarPortfolio {
    float: right;
    margin-right: 20px;
    color: #333;
    border: #333 1px solid;
    padding: 10px;
}

a {
    text-decoration: none;
}

iframe {
    display: block;
    margin: 0 auto;
}

footer p {
    color: white;
}

footer a {
    text-decoration: none;
    color: aqua;
}

footer a:hover {
    text-decoration: underline;
}

p {
    text-align: center;
}